@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Ubuntu", serif;
}


::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #59e1e4;
}

::-webkit-scrollbar-thumb:hover {
  background: #59e1e4;
}


  :root {
    /* --mainText: #A294F9; */
    --mainText: #00b9bc;
    --Background: #f2f9fa;
  }
  .dark{
    --mainText: #59e1e4;
    --Background: #000000;
  
  }






body {
  transition: background-color 0.9s ease, color 0.9s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.linkMobileNav:hover{
  .buttonArrowflex{
    transform: rotate(12deg);
  }
 
  
}

.socialLink:hover{
  .innerIcons{
    scale: 1.2;
    transition: all .9s ease-in-out;
    
  }
}



